<div class="col-2">
    <ul class="list-unstyled">
        <li>
            <div class="text-center" style="height: 20%">
                <span>${prodlab}</span>
            </div>
            <div class="text-justify text-center">
                <span class="${prodpromo}">${prodprice}</span>
            </div>
            <div class="mx-auto vignette text-center">
                <img class="img_product" src=" http://localhost:8080/images/${prodimg}">
            </div>
        </li>
    </ul>
    <div class="text-justify">
        <span>${proddsc}</span>
    </div>
</div>